body {
  font-family: "Work Sans", DejaVuSans, Helvetica, Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 68ch;
  margin: 0 auto;
  padding: 1em;
}

.container h1:first-child {
   margin-top: 10px;
}

nav {
  padding: 20px 40px 15px;
  border-bottom: 1px solid #eee;
  font-family: "IBM Plex Sans", DejaVuSans, Helvetica, Arial, sans-serif;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-right: 20px;
  margin-bottom: 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300 !important;
}

nav a:hover {
  color: #ff6347;
}

[aria-current="disabled"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "satoshi", DejaVuSans, Helvetica, Arial, sans-serif;
}

p {
  margin: 0 0 1.2em;
  font-family: "Noto Sans", DejaVuSans, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #000;
  word-wrap: break-word;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #0056b3;
  text-decoration: underline;
}

a:active {
  color: #004085;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(180, 180, 180, 0.6),
    rgba(200, 200, 200, 0.8),
    rgba(180, 180, 180, 0.6),
    transparent
  );
  border-radius: 2px;
  width: 60%;
  margin: 0.5em auto 1.5em auto;
}

.muted {
  font-size: 1rem;
  color: #888;
}

b, .bold {
  background: linear-gradient(to top, #ffcc80 0%, #ffcc80 0.5em, transparent 0.5em);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 100%;
  color: inherit;
}

i, .italic {
  background: linear-gradient(to top, #fff59d 0%, #fff59d 0.5em, transparent 0.5em);
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 100%;
  color: inherit;
  font-weight: normal;
  font-style: italic;
}

u {
    text-decoration: none;
    background-image: linear-gradient(to right, #ccc, #eee);
    background-repeat: no-repeat;
    background-size: 100% 0.12em;
    background-position: 0 1.15em;
    padding-bottom: 0.3em;
    color: #333;
    font-weight: 500;
}

q {
  font-weight: 700;
  letter-spacing: 1.5px;
  font-style: normal;
  font-size: 30px;
  line-height: 1.25em;
  color: #A32B68;
  float: right;
  max-width: 300px;
  margin: 10px -2% 10px 20px;
  background: -webkit-linear-gradient(top, #fd0b58 0px, #a32b68 100%);
  background: linear-gradient(top, #fd0b58 0px, #a32b68 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: none;
  margin-right: 10px;
}

q:before,
q:after {
  content: "";
}

.mark {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 1.5em;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
  line-height: 1.6;
  font-weight: 400;
  word-wrap: break-word;
  color: #212529;
  display: block;
  background-color: #fffbe6;
  border: 1px solid #f3eac2;
}

/* From css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Desktop / tablet */
@media (min-width: 768px) {

  .container {
    max-width: 700px;
    padding: 2em;
    margin: 0 auto;
  }

  nav {
    padding-left: 0;
    padding-right: 0;
  }

  nav ul {
    flex-wrap: nowrap;
    max-width: 68ch;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }

  nav li {
    margin: 0 20px;
  }

  nav li.login {
    margin-left: 20px;
  }
}

/* Mobile */
@media (max-width: 767px) {

  nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  nav ul {
    max-width: 100%;
  }

  nav li.login {
    margin-left: 0;
  }

  p {
    font-family: "Work Sans", "Inter", DejaVuSans, Helvetica, Arial, sans-serif;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  q {
    font-size: 20px;
    font-weight: bold;
  }
}
